/* 1ra Parte Animación CSS: Creación de KeyFrames */
@keyframes header-baja {
	0% { top: -100px; }
	100% { top: 0; }
}

header {
	width: 100%;
    height: 86px;
    display: block;
    margin: 0;
    float: none;
    position: fixed;
	
    top: 0;
    left: 0;
    z-index: 99990;
	
	/* 2da Parte Animación CSS: Activación de Animación */
	animation-name: header-baja;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-timing-function: ease-out;
}

header a {
	padding: 15px;
    width: 217px;
    height: 56px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #fff;
    border-radius: 0 0 5px 5px;
}

header a img {
	width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative; 
}

header a:hover { }
header a:hover img { }



/* 1ra Parte Animación CSS: Creación de KeyFrames */
@keyframes main-fade {
	0% { opacity: 0; }
	100% { opacity: 100%; }
}

main {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	float: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	
	opacity: 100%;

	background: -moz-radial-gradient(center, ellipse cover,  rgba(151,96,66,0.65) 0%, rgba(151,96,66,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(151,96,66,0.65) 0%,rgba(151,96,66,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(151,96,66,0.65) 0%,rgba(151,96,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6976042', endColorstr='#976042',GradientType=1 );



	
	/* 2da Parte Animación CSS: Activación de Animación */
	animation-name: main-fade;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-timing-function: ease-out;
}

main section#zona-infografia {
	width: 1100px;
	height: 600px;
	display: block;
	margin: 70px auto 0 auto;
	float: none;
	position: relative;
	
	overflow: hidden;
	background: url('../img/Fondo.jpg') no-repeat top center;
	background-size: cover;
}

main section#zona-infografia figure#caja-infografia {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	float: none;
	position: absolute;
	top: 0;
	left: 0;
}

main section#zona-infografia figure#caja-infografia div.caja-info {
	display: block;
	margin: 0 auto;
	float: none;
	position: absolute;
}

main section#zona-infografia figure#caja-infografia div.caja-info#caja-01 {
	width: 350px;
    height: 250px;
    top: 150px;
    left: 500px;
}

main section#zona-infografia figure#caja-infografia div.caja-info#caja-02 {
	width: 280px;
    height: 210px;
    bottom: -5px;
    right: 10px;
}

main section#zona-infografia figure#caja-infografia div.caja-info#caja-03 {
	width: 350px;
    height: 250px;
    top: 150px;
    right: -180px;
}

main section#zona-infografia figure#caja-infografia div.caja-info#caja-04 {
	width: 350px;
    height: 250px;
    bottom: -5px;
    left: 180px;
}


/* 1ra Parte Animación CSS: Creación de KeyFrames */
@keyframes animacion-puntos {
	0% { color: #e29563; background: #fff; transform: scale(1); }
	50% { color: #fff; background: #e29563; transform: scale(1.1); }
	100% { color: #e29563; background: #fff; transform: scale(1); }
}

main section#zona-infografia figure#caja-infografia div.caja-info a {
	/* Maquetación */
	width: 25px;
    height: auto;
    display: block;
    margin: 0;
    float: none;
    position: relative;
	
	/* Estilo y Acabados */
	z-index: 50;
    color: #e29563;
    background: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1em;
    line-height: 0.65em;
	padding: 5px 0;
    text-align: center;
    transition: all 0.3s ease-in;
	
	/* 2da Parte Animación CSS: Activación de Animación */
	animation-name: animacion-puntos;
	animation-duration: 0.8s;
	animation-iteration-count: 5;
	animation-direction: alternate;
	animation-play-state: running;
	animation-delay: 3s;
	animation-timing-function: ease-out;
}
main section#zona-infografia figure#caja-infografia div.caja-info a:hover {
    color: #fff;
    background: #e29563;
    transition: all 0.3s ease-in;
}

main section#zona-infografia figure#caja-infografia div.caja-info div.info-interna {
	display: none;
	margin: 0;
	float: none;
	position: absolute;
	
	border-radius: 5px;
	background: #fff;
}

main section#zona-infografia figure#caja-infografia div.caja-info#caja-01 div.info-interna {
	width: 250px;
    height: 208px;
    left: -235px;
    top: 11px;
}

main section#zona-infografia figure#caja-infografia div.caja-info#caja-02 div.info-interna {
	width: 250px;
    height: 190px;
    left: -235px;
    top: -166px;
}

main section#zona-infografia figure#caja-infografia div.caja-info#caja-03 div.info-interna {
	width: 320px;
    height: 140px;
    left: -305px;
    top: -62px;
}

main section#zona-infografia figure#caja-infografia div.caja-info#caja-04 div.info-interna {
	width: 320px;
    height: 169px;
    left: 11px;
    top: 11px;
}

main section#zona-infografia figure#caja-infografia div.caja-info div.info-interna h3 {
	padding: 15px 15px 10px 15px;
	margin: 0;
    font-family: 'Lora', serif;
    font-size: 1em;
    color:#e29563;
}

main section#zona-infografia figure#caja-infografia div.caja-info div.info-interna p {
	padding: 0 15px 15px 15px;
	margin: 0;
    font-family: 'Lora', serif;
    font-size: 0.9em;
    color:#976042;   
}

main section#zona-infografia figure#caja-infografia a#ver-fotos {
	width: 120px;
    height: auto;
    display: block;
    margin: 0;
    float: none;
    position: absolute;
	
    bottom: 15px;
    right: 25px;
    z-index: 10;
    background: #976042;
    color: #fff;
    font-family: 'Lora', serif;
    text-align: center;
    line-height: 1em;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 50px;
	transition: all 0.3s ease-in;
}

main section#zona-infografia figure#caja-infografia a#ver-fotos:hover {
	background: #e29563;
    color: #fff;
	
	transition: all 0.3s ease-in;
}



main section#zona-infografia figure#caja-fotos {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	float: none;
	position: absolute;
	
	top: 0;
	left: 100%;
	z-index: 100;
	background: #fdf8ed;
}

main section#zona-infografia figure#caja-fotos a#ver-infografia {
	width: 120px;
    height: auto;
    display: block;
    margin: 0;
    float: none;
    position: absolute;
	
    bottom: 15px;
    left: 25px;
    z-index: 10;
    background: #e29563;
    color: #fff;
    font-family: 'Lora', serif;
    text-align: center;
    line-height: 1em;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 50px;
	transition: all 0.3s ease-in;
}

main section#zona-infografia figure#caja-fotos a#ver-infografia:hover {
	background: #976042;
    color: #fff;
	
	transition: all 0.3s ease-in;
}

main section#zona-infografia figure#caja-fotos div#caja-miniaturas { 
	width: 780px;
    height: auto;
    display: block;
    margin: 40px auto 0;
    float: none;
    position: relative;
}

main section#zona-infografia figure#caja-fotos div#caja-miniaturas nav { 
	width: 100%;
    height: 530px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
}

main section#zona-infografia figure#caja-fotos div#caja-miniaturas nav a {
	width: 250px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    float: left;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in;
    
    font-family: 'Lora', serif;
    
}

main section#zona-infografia figure#caja-fotos div#caja-miniaturas nav a img {
	width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

main section#zona-infografia figure#caja-fotos div#caja-miniaturas nav a:hover {  }
main section#zona-infografia figure#caja-fotos div#caja-miniaturas nav a:hover img {  }




footer {  }
footer nav {  }